.cellButtons{
    border:1px solid;
    text-align: center;
}
header{
    text-align:center;
}
.header{
    text-align:center;
    vertical-align:top;
    margin-left: auto;
    margin-right: auto;
}
.selectedButtons{
    border:1px solid;
    text-align: center;
    background-color: black;
    color:white;
}
#peopleSelectors {
    display: flex;
    overflow-x: auto;
    margin: 1rem 200px 0 200px;
    max-width: calc(100vw - 2rem);
  }

.boxButton{
    border:1px solid;
    padding: 4px;
    display:inline-block;
    margin:auto ;
}