.cellButtons{
    border:1px solid;
    text-align: center;
}
header{
    text-align:center;
}
.header{
    text-align:center;
    vertical-align:top;
    margin-left: auto;
    margin-right: auto;
}
.selectedButtons{
    border:1px solid;
    text-align: center;
    background-color: black;
    color:white;
}
#peopleSelectors {
    display: flex;
    overflow-x: auto;
    margin: 1rem auto 0 550px;
    max-width: calc(100vw - 2rem);
  }

#parkSelectors {
    
    margin: 1rem auto 0 500px;
    max-width: calc(100vw - 2rem);
  } 
.boxButton{
    border:1px solid;
    padding: 4px;
    display:inline-block;
    margin:auto ;
}
.button {
    transition-duration: 0.4s;
    border-radius:10px;
    min-height:30px; 
    min-width: 120px;
  }
  
  .button:hover {
    background-color: #4586db; 
    color: white;
  }
  .button:active {
    background-color: #0a1347;
}
.hide{
  display:none;
}
.loading{
  z-index:9;
  margin:20px;
  text-align: center; 
  background-color: gold;
}
.names{
  width: 400px;
  text-align: center;
  border: solid black 1px;
  background-color: white;
}
.times{
  width:100px;
  text-align: center;
  border: solid black 1px;
  background-color: white;
}
.tableBorder{
  border:solid black 1px;
  background-color: white;
}
body{
  background-color: #c6ceda;
}
.openHeader{
  width:400px;
  text-align: center;
  display: table-cell;
  
}
.timeHeader{
  width: 100px;
  text-align: center;
}
.highTime{
  background-color: #f3bfc8;
}
.mediumTime{
  background-color: #e8f575;
}
.closedRide{
  background-color:#7db5ff
}
div.form{
  display:block;
  text-align:center;
  background-color: white;
}
form{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}